
@import 'https://fonts.googleapis.com/css?family=Raleway';

body{
  background-color: #1f2124;
  text-align: center;
  vertical-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

#logo{
  vertical-align: top;
  width: 7em;
}

/* 버튼 */
.bttn-simple{
  margin: 0;
  padding: 0;
  border-color: transparent;
  background: transparent;
  cursor: pointer;
  position: relative;
  padding: 0.4em 0.6em;
  color: #fff;

  font-family: inherit;
  overflow: hidden;
  border-width: 0;
  border-radius: 0.3em;
  background: rgba(255,255,255,0.4);
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-simple:hover, .bttn-simple:focus{
  opacity: 0.75;
}
.bttn-md{
  margin: 0.2em 0.1em;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  position: relative;
  font-family: inherit;
  padding: 0.3em 0.5em;
}
/* 취소버튼 */
.bttn-ccl{
  background-color: #E0E3DA;
  color: black;
  font-weight: bold;
}
/* 대여중 버튼 */
.bttn-no{
  background-color: #6E7783;
}
/* 삭제버튼 */
.bttn-yes{
  background-color: #ff914d;
}

/* 로그인 버튼 */
.bttn-mlogin{
  letter-spacing: normal;
  background: #ffbd59;
  letter-spacing: 2px;
  font-weight: bold;
  width: 6em;
  vertical-align: top;

  text-align: right;
  background-image: url('img/key.png');
  background-position:  0.5em 0.2em;
  background-repeat: no-repeat;
  border: 0;
  outline: 0;
}

#manage{
  padding-top: 19%;
  font-weight: bold;
  letter-spacing: 2px;
}
#manage table{
  color: #E3AC53;
  display: inline-block;
}
#manage td{
  padding: 0.2em 0;
  padding-right: 0;
  text-align: right;
}
#manage input{
  text-align: left;
}
#manage td[colspan="2"] input{
  text-align: right;
}

/* 로그인 후, 표 나오는 페이지 */
#logged{
  display: none;
}
#logo{
  vertical-align: middle;
  width: 7em;
  margin-left: 0.05em;
  margin-right: 0.1em;
}

/* 메뉴바 */
* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}
#menu{
  margin-top: 0.5em;
  padding-top: 1.2em;
  text-align:center;
  height: 4.2em;
}
#menu img{
  vertical-align: middle;
}
.mbtn{
  cursor: pointer;
  color:#999;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform:uppercase;
  text-decoration:none;
  border-radius: 0;
  padding: 0.3em 0.5em;
  border-bottom: 0.1em dotted #999;
}
.mbtn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background: #ffbd59;
  font-weight: bold;
  padding: 0.8em 0.5em;
  text-decoration:none;
  color:#1b1b1b;
}

.bttn-logout{
  margin-left: 1em;
  background: #ffbd59;
  font-weight: bold;
  font-size: 0.8em;
  color: #13292a;
}
.bttn-logout:hover{
  box-shadow: 0 0 0.7em 0.2em rgb(255, 189, 89, 0.3);
}

/* 검색창 */
#srch{
  background: #383a3f;
  color: white;
  border: 0.1em solid rgb(255, 189, 89, 0.2);
  border-radius: 0.2em;
  outline-color: #ffbd59;
  width: 19em;
  margin-right: 0.5em;
}
#srch:focus, #srch:hover, .bttn-srch:hover{
  box-shadow: 0 0 0.4em 0.3em rgb(255, 189, 89, 0.2);
}
.bttn-srch{
  background: #383a3f;
  outline-color: #ffbd59;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border: 0.1em solid rgb(255, 189, 89, 0.2);
}

/* 물품 목록 */
#goods table{
  border-top: 3px double #ffbd59;
  border-bottom: 3px double #ffbd59;
  padding: 0.5em 0.2em;

  border-collapse: separate;
  margin: 0.4em 0;
  margin-top: 1em;
  width: 100%;
  font-size: 0.8em;
  border-spacing: 0.2em;
}
#goods table th{
  background: #ffbd59;
  border-radius: 0.5em;
  text-align: center;
  padding: 0.3em;
}
#goods table td{
  background-color: rgba(255, 248, 245, 0.9);
  border-radius: 0.5em;
}

/* 물품 추가 div */
#qrcreate{
  position: absolute;
  left: 18.37%;
  top: 20%;
  z-index: 30;
  border-radius: 0.5em;
  background: #324142;
  background: #383a3f;
  text-align: center;

  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 1em;
  border: 0.1em solid rgb(255, 189, 89, 0.2);
  box-shadow: 0 0 1em 0.4em rgb(255, 189, 89, 0.2);
  display: none;
}
#qrcreate table{
  color: #E3AC53;
  display: inline-block;
}
#qrcreate td{
  padding-top: 0.2em;
  padding-right: 0;
  text-align: left;
}
#qrcreate table .front{
  width: 5em;
}
#qrcreate input{
  color: black;
}
#qrcreate td[colspan="2"] input{
  text-align: right;
}
/* create 버튼 */
.bttn-create{
  background: #A593E0;
  color: black;
  font-weight: bold;
  letter-spacing: 0.07em;
}
/* 물품 추가 버튼 */
.bttn-add{
  background: #A593E0;
  color: black;
  font-weight: bold;
  margin-top: 1em;
  margin-left: 6.5em;
  margin-left: 35%;
}

#search{
  display: none;
}
