@import 'https://fonts.googleapis.com/css?family=Raleway';

body{
  background-color: #FFF4C5;
  text-align: center;
  vertical-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

#logo{
  vertical-align: top;
  width: 7em;
  margin-left: 0.05em;
  margin-right: 0.1em;
}

/* 메뉴바 */
div.menu{
  font-family: Raleway;
  margin: 1em 0 0 0;
  padding: 0.5em;
  text-align: center;
  margin-bottom: 0.2em;
}
div.menu a{
  color: #ffbd59;
  text-decoration: none;
  font: 1.5em Raleway;
  font-weight: bold;
  letter-spacing: 0.07em;
  margin: 0.1em 0.1em;
  padding: 0.3em 0.1em;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
/* Pull up  */
div.pullUp a:before{
  position: absolute;
  width: 100%;
  height: 0.18em;
  left: 0;
  bottom: 0;
  content: '';
  background: #ffbd59;
  opacity: 0.3;
  transition: all 0.3s;
}
div.pullUp a:hover:before{
  height: 90%;
}

/* 물품 목록 */
.home2 #goods table{
  margin: 0.4em 0;
  width: 100%;
  font-size: 0.9em;
}
.home2 #goods table th{
  background: #ffbd59;
  border-radius: 0.5em;
  text-align: center;
  padding: 0.3em;
}
.home2 #goods table td{
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5em;
}


/* 표 내부 버튼 */
.bttn-simple{
  margin: 0;
  padding: 0;
  border-color: transparent;
  background: transparent;
  cursor: pointer;
  position: relative;
  padding: 0.4em 0.6em;

  font-family: inherit;
  overflow: hidden;
  border-width: 0;
  border-radius: 0.3em;
  background: rgba(255,255,255,0.4);
  color: #fff;
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-simple:hover, .bttn-simple:focus{
  opacity: 0.75;
}
.bttn-md{
  margin: 0.2em 0.1em;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  position: relative;
  font-family: inherit;
  padding: 0.3em 0.5em;
}
/* 불가버튼 */
.bttn-no{
  background-color: #ED7D31;
}
/* 가능버튼 */
.bttn-yes{
  background-color: #70AD47;
}

/* 추가 div */
/* 대여 */
#rent{
  display: none;

  background: #FCF9EA;
  padding: 1.2em 1.2em 0.3em 1.2em;
  text-align: center;

  border-radius: 0.5em;
  border: 0.1em solid rgb(255, 189, 89, 0.2);
  box-shadow: 0 0 1em 0.4em rgb(255, 189, 89, 0.25);
}
#rent table{
  display: inline-block;
}
#rent table td{
  text-align: left;
  font-weight: bold;
  padding: 0.2em 0.4em;
}
#rent table td[colspan="2"]{
  text-align: right;
}

/* 반납 */
#return{
  display: none;

  background: #FCF9EA;
  padding: 1.2em 1.2em 0.3em 1.2em;
  text-align: center;

  border-radius: 0.5em;
  border: 0.1em solid rgb(255, 189, 89, 0.2);
  box-shadow: 0 0 1em 0.4em rgb(255, 189, 89, 0.25);
}
#return table{
  display: inline-block;
}
#return table td{
  text-align: left;
  font-weight: bold;
  padding: 0.2em 0.4em;
}
#return table td[colspan="2"]{
  text-align: right;
}

/* 관리자 로그인 */
/* #manage{
  display: none;

  background: #FCF9EA;
  padding: 1.2em;
  text-align: center;
}
#manage img{
  display: inline-block;
  width:15em;
}
#manage caption{
  text-align: center;
}
#manage table{
  display: inline-block;
  text-align: center;
}
#manage td{
  text-align: left;
  font-weight: bold;
  font-family: "Courier New", serif;
  color: #E3AC53;

  padding: 0.2em 0.4em;
}
#manage table td[colspan="2"]{
  text-align: right;
} */
#temp{
  display: inline-block;
}
.bttn-mlogin{
  letter-spacing: normal;
  background: #ffbd59;
  width: 2.5em;
  vertical-align: top;
  /* display: inline-block; */

  text-align: right;
  background-image: url('img/key.png');
  background-position:  0.5em 0.2em;
  background-repeat: no-repeat;
  border: 0;
  outline: 0;
}
